body {
    background: rgb(183, 189, 181);
    color: white;
    margin: 0px;
}


button {
    width: 20vh;
    height: 6vh;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}

#stopwatch {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20vh;
    
}
#button {
    display: flex;
    justify-content: center;
   
}
#button li {
    list-style-type: none;
    padding-left: 10px;
    width: 22vh;
}


#verden {
    display: flex;
    justify-content: center;
    font-size: 4vh;
}

#medelvarde {
    background-color: rgb(161, 165, 159);
    display: flex;
    justify-content: center;
    font-size: 5vh;
}

#median {
    background-color: rgb(139, 143, 137);
    display: flex;
    justify-content: center;
    font-size: 5vh;
}

.namn {
    font-size: 6vh;
}

.textbox {
    font-size: 4vh;
}

.box {
    font-size: 4vh;
}