body {
    background: rgb(183, 189, 181);
    color: white;
}


button {
    width: 20vh;
    height: 6vh;
    border: 1000px soldi white;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}

#stopwatch {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20vh;
    
}
#button {
    display: flex;
    justify-content: center;
   
}
#button li {
    display: inline;
    padding-left: 10px;
}

#medelvarde {
    display: flex;
    justify-content: center;
    font-size: 10vh;
    background-color: black;
    ??

}

#verden {
    display: flex;
    justify-content: center;
}